<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/burger_style.css"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
    <title>Eat-the-Burger App</title>
</head>

<body>
    <div>

        {{{ body }}}

    </div>
    <hr>
    <!-- /container -->
    <footer class="center footer">
        <div class="container">
            <p> Copyright © Phil D. 2018</p>
        </div>
    </footer>


</body>

</html>